.alert_modal {
    background-color: $graybg;
    height: 70px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    color: $white;
}
.alert_modal > div {
    margin-left: 30px;
}
.alert_modal_btns {
    display: flex;
    justify-content: space-evenly;
}
.alert_modal_btns > div {
    margin: 0 25px;
    padding: 6px 12px;
    border-radius: 3px;
}
.cancel_btn {
    background-color: crimson;
    color: $white;
    transition: 0.4s;
}
.cancel_btn:hover {
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
}
.accept_btn {
    background-color: $lightgreen;
    color: $white;
    transition: 0.4s;
}
.accept_btn:hover {
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
}