.input_text {
    border: 2px solid $graybg;
    width: 300px;
    padding: 20px;
}
.input_text > div {
    margin-top: 10px;
    padding: 0;
}
.input_text > div > h6 {
    margin: 6px 0px 0px 6px;
}
input[type=text] {
    background-color: $lightgray;
    height: 30px;
    width: 210px;
    border-radius: 3px;
    border: 0px;
    padding: 5px 15px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    outline: none;
}
.invalid_msg {
    color: $crimson !important;
}
.valid_msg {
    color: $lightgreen;
}
.invalid_msg_input {
    border: 2px solid $crimson !important;
    width: 230px !important;
    border-radius: 4px;
}
.valid_msg_input {
    border: 2px solid $lightgreen;
    width: 214px;
    border-radius: 4px;
}
.valid_msg {
    color: $lightgreen;
}
.remove_text {
    outline: none;
    border: none;
}