.rating_wrapper {
    border: 1px solid black;
    width: 200px;
    padding: 18px;
}
.rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
}
.rating::before {
    content: "★★★★★";
    display: block;
}
.rating_items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.rating_item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.rating_label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
}
.rating_label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.rating_item:checked,
.rating_item:checked ~ .rating_label {
    color: $golden;
}

.rating_label:hover,
.rating_label:hover ~ .rating_label, 
.rating_label:checked ~ .rating_label:hover {
    color: $golden;
}